starlette==0.36.3
pydantic==2.7.1
rich==13.7.1
pytest==8.2.2
torch==2.3.0
pandas==2.2.2
tqdm==4.66.4
numpy==1.26.4
setuptools==68.2.2
faker==24.8.0
ollama==0.1.9
python-Levenshtein==0.24.0
jellyfish==1.0.4
aiohttp==3.9.5
substrate-interface==1.5.0
bittensor==7.4.0
bittensor-cli==7.4.0
wandb==0.16.6
python-dotenv==1.0.1